:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}
html {
    font-size:100%;
    line-height:1.125rem;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width:1200px;
    max-width:100%;
    margin: 0 auto;

}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display:flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}